@model Flowerpower.Models.PlaatsDatumModel

@{
    ViewBag.Title = "Winkel en datum kiezen";
}

<h2>Winkel en datum kiezen</h2>

    @using (Html.BeginForm("PlaatsDatumKiezen","Winkelwagen", FormMethod.Post))
    {
        <div class="row">
            <div class="col-sm-6">

                <h4 style="color: black">Wanneer wilt u uw boeket ophalen?</h4>

                <div>
                    @Html.HiddenFor(m => m.bestellingid)
                    @Html.EditorFor(modeld => modeld.datumgekozen, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                    @Html.ValidationMessageFor(modeld => modeld.datumgekozen, "", new { @class = "text-danger" })
                </div>

            </div>
           


            <div class="col-sm-6">
                <h4 style="color: black">Waar wilt u uw boeket ophalen?</h4>
                @Html.DropDownListFor(m => m.Winkelcode, Model.winkels, "Selecteer winkel")

                <button type="submit" class="btn-success">Ga door</button>
            </div>
        </div>
    }
