@{
    ViewBag.Title = "Contact";
}

<div class="contact">
        <div class="contact1-div">
            <div class="round-img-div" style="background-color: #e6f7ff;">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="@Url.Content("~/Content/Images/Location/amsterdam.jpg")" class="img-responsive" />
                    </div>

                    <div class="col-sm-6" style="text-align: center;" id="contact-divv">
                        @*<h2 style="font-family: Courgette, cursive; font-size: 50px;">Amsterdam</h2><br />*@
                        <h2>Amsterdam</h2>
                        <p>Gieterij 200</p>
                        <p>7553VZ Amsterdam</p>
                        <p>Tel.: 0611212122</p>
                        <p>E-mail: flowerpower@amsterdam.nl </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="contact">
    <div class="contact1-div">
        <div class="round-img-div" style="background-color: #e6f7ff;">
            <div class="row">
                <div class="col-sm-3">
                    <img src="@Url.Content("~/Content/Images/Location/amsterdam.jpg")" class="img-responsive" />
                </div>

                <div class="col-sm-6" style="text-align: center;" id="contact-divv">
                    @*<h2 style="font-family: Courgette, cursive; font-size: 50px;">Amsterdam</h2><br />*@
                    <h2>Rotterdam</h2>
                    <p>Gieterij 200</p>
                    <p>7553VZ Amsterdam</p>
                    <p>Tel.: 0611212122</p>
                    <p>E-mail: flowerpower@amsterdam.nl </p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="contact">
    <div class="contact1-div">
        <div class="round-img-div" style="background-color: #e6f7ff;">
            <div class="row">
                <div class="col-sm-3">
                    <img src="@Url.Content("~/Content/Images/Location/amsterdam.jpg")" class="img-responsive" />
                </div>

                <div class="col-sm-6" style="text-align: center;" id="contact-divv">
                    @*<h2 style="font-family: Courgette, cursive; font-size: 50px;">Amsterdam</h2><br />*@
                    <h2>Den haag</h2>
                    <p>Gieterij 200</p>
                    <p>7553VZ Amsterdam</p>
                    <p>Tel.: 0611212122</p>
                    <p>E-mail: flowerpower@amsterdam.nl </p>
                </div>
            </div>
        </div>
    </div>
</div>
