@{
    ViewBag.Title = "Home Page";
}



<div class="row" id="columns">


    <div class="col-4">
        <h3>Hoera</h3>
        <img src="~/Content/Images/Boeketten/hoeraaf.jpg" class="img-responsive" id="column-img" />
        <h5>Iemand jarig, getrouwd of geslaagd? Felicteer de jarige met dit vrolijke boeket!</h5>
        <div><button type="button" class="btn btn-warning">Bestel nu vanaf € 24,95</button></div>
    </div>



    <div class="col-4">
        <h3>Vriendschap</h3>
        <img src="~/Content/Images/Boeketten/vriendschapaf.jpg" class="img-responsive" id="column-img" />
        <h5>Deze bonte verzameling van bloemen is het perfecte cadeau om je vriendschap onder de woorden te brengen.</h5>
        <div><button type="button" class="btn btn-warning">Bestel nu vanaf € 35,95</button></div>
    </div>



    <div class="col-4">
        <h3>Blij</h3>
        <img src="~/Content/Images/Boeketten/blijaf.jpg" class="img-responsive" id="column-img" />
        <h5>Een blij boeket van bont gekleurde bloemen voor als er reden tot vrolijkheid of opvrolijken is.</h5>
        <div><button type="button" class="btn btn-warning">Bestel nu vanaf € 16,95</button></div>
    </div>

</div>



<div class="flowerpower-div">
    <div class="round-img-div" style="background-color: #e6f7ff;">
        <div class="row">
            <div class="col-sm-6">
                <img src="@Url.Content("~/Content/Images/flower.png")" class="img-responsive" />
            </div>

            <div class="col-sm-6" style="text-align: center;" id="flowerpover-div">
                <h2 style="font-family: Courgette, cursive; font-size: 50px;">FlowerPower</h2><br />
                                    <p>
                                        Welkom op de site van FlowerpPower<br/>
                                        Sinds 1994 is FlowerPower de duren open gemaakt in het hartje van Amsterdam.
                                    </p>

                                    <p>
                                        Door de jaren heen is FlowerPower uitgegroeid tot een keten van bloemenwinkels in Amsterdam, Den Haag, Rotterdam en Utrecht.<br/>
                                        In de toekomst verwacht FlowerPower meerdere bloemenwinkels te openen in de randstad.
                                    </p>

                                    <p>
                                        U kunt bij ons terecht voor al uw wensen op het gebied van bloemsierkunst.<br/>
                                        Met een gemotiveerd team staan wij garant voor een goede service voor onze klanten!
                                    </p>
            </div>
        </div>
    </div>
</div>
