@{
    ViewBag.Title = "Home Page";
}



<div class="row" id="columns">

    <div class="columtest">
        <div>
            <div class="col-sm-4 col-centered">
                <div class="colom-1">
                    <div class="img-boeket1">
                        <span class="et_pb_image_wrap">
                            <img src="~/Content/Images/Boeketten/blijaf.jpg" id="col-img" class="img-responsive" data-was-processed="true">

                        </span>
                    </div>

                    <div class="type-titel">
                        <div class="et_pb_text_inner">
                            <h4>Boeket 1</h4>
                        </div>
                    </div>

                    <div class="omschrijving-boeket">
                        <div class="type-boeket-omschrijving">
                            <p style="text-align: center;">
                                bskkkjsbhjdghjgd
                            </p>
                        </div>
                    </div>

                    <a href="" class="btn button-boeket" style="color: #000;">Bestel nu vanaf <i class="fas fa-info-circle"></i></a>
                </div>

            </div>

        </div>

    </div>


    <div class="columtest" >
        <div>
            <div class="col-sm-4 col-centered">
                <div class="colom-1">
                    <div class="img-boeket1">
                        <span class="et_pb_image_wrap">
                            <img src="~/Content/Images/Boeketten/blijaf.jpg" id="col-img" class="img-responsive" data-was-processed="true">

                        </span>
                    </div>

                    <div class="type-titel">
                        <div class="et_pb_text_inner">
                            <h4>Boeket 1</h4>
                        </div>
                    </div>

                    <div class="omschrijving-boeket">
                        <div class="type-boeket-omschrijving">
                            <p style="text-align: center;">
                                bskkkjsbhjdghjgd
                            </p>
                        </div>
                    </div>

                    <a href="" class="btn button-boeket" style="color: #000;">Bestel nu vanaf <i class="fas fa-info-circle"></i></a>
                </div>

            </div>

        </div>

    </div>


    <div class="columtest" >
        <div>
            <div class="col-sm-4 col-centered">
                <div class="colom-1">


                    <div class="img-boeket1">
                        <span class="et_pb_image_wrap">
                            <img src="~/Content/Images/Boeketten/blijaf.jpg" id="col-img" class="img-responsive" data-was-processed="true">

                        </span>
                    </div>
                    <div class="type-titel">
                        <div class="et_pb_text_inner">
                            <h4>Boeket 1</h4>
                        </div>

                    </div>


                    <div class="omschrijving-boeket">
                        <div class="type-boeket-omschrijving">
                            <p style="text-align: center;">
                                bskkkjsbhjdghjgd
                            </p>
                        </div>
                    </div>

                    <a href="" class="btn button-boeket" style="color: #000;">Bestel nu vanaf <i class="fas fa-info-circle"></i></a>
                </div>

            </div>

        </div>

    </div>

</div>












<div class="flowerpower-div">
    <div class="round-img-div" style="background-color: #e6f7ff;">
        <div class="row">
            <div class="col-sm-6">
                <img src="@Url.Content("~/Content/Images/flower.png")" class="img-responsive" />
            </div>

            <div class="col-sm-6" style="text-align: center;" id="flowerpover-div">
                <h2 style="font-family: Courgette, cursive; font-size: 50px;">FlowerPower</h2><br />
                                    <p>
                                        Welkom op de site van FlowerpPower<br/>
                                        Sinds 1994 is FlowerPower de duren open gemaakt in het hartje van Amsterdam.
                                    </p>

                                    <p>
                                        Door de jaren heen is FlowerPower uitgegroeid tot een keten van bloemenwinkels in Amsterdam, Den Haag, Rotterdam en Utrecht.<br/>
                                        In de toekomst verwacht FlowerPower meerdere bloemenwinkels te openen in de randstad.
                                    </p>

                                    <p>
                                        U kunt bij ons terecht voor al uw wensen op het gebied van bloemsierkunst.<br/>
                                        Met een gemotiveerd team staan wij garant voor een goede service voor onze klanten!
                                    </p>
            </div>
        </div>
    </div>
</div>
